html, body {
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

@font-face {
    font-family: "Dragon Ball";
    src: url("../font/Saiyan-Sans.ttf");
}

.allContent{
    background-color: rgb(161, 132, 95);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;/*modificar para cambiar ancho total de todo*/
    height: 95%;/*modificar para cambiar alto total de todo*/
}


/*ESTILOS PANTALLA 01*/
.screen01{
    background-color: antiquewhite;
    background-image: url(../img/backgroundScreen01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button01{
    border-radius: 3em;
    font-family: "Dragon Ball";
    font-size: 2.5em;
    width: 5em;
    height: 5em;
    background-image: url(../img/ballNumber4Center.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    animation: creceEncoge 3s infinite;
}

@keyframes creceEncoge {
    50% {
    font-size: 1em;
    }
}


/*ESTILOS PANTALLA 02*/
.screen02{
    background-color: rgb(165, 62, 37);
    width: 100%;
    height: 100%;
    display: none;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
}

/*Aquí comienza la fila 01*/
.containerRow01{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.namePlayer01{
    background-color: rgb(0, 0, 0);
    height: 90%;
    width: 38%;
    margin: 0% 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dragon Ball";
    font-size: 5vw;
    color: rgb(248, 91, 26);
}

.emptyRow01{
    background-image: url(../img/screen02Versus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90%;
    width: 20%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0em 0em 1em 0.7em;
}

.namePlayer02{
    background-color: rgb(0, 0, 0);
    height: 90%;
    width: 38%;
    margin: 0% 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Dragon Ball";
    font-size: 5vw;
    color: rgb(248, 91, 26);
}

/*Aquí comienza la fila 02*/
.containerRow02{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgPlayer01{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90%; /*545px*/
    width: 38%; /*282px*/
    margin: 0% 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0em 0em 1em 1em;
}

.vsRow02{
    background-image: url(../img/screen02VersusRow02.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 90%;
    width: 20%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgPlayer02{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90%;
    width: 38%;
    margin: 0% 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0em 0em 1em 1em ;
}

/*Aquí comienza la fila 03*/
.containerRow03{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridPlayer01{
    background-color: rgb(0, 0, 0);
    height: 90%;
    width: 38%;
    margin: 0% 1%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.gridPlayer01Slot01{
    background-image: url(../img/slotGoku.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border: 0.3em solid rgb(138, 146, 148);
    border-radius: 1em;
    height: 95%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridPlayer01Slot02{
    background-image: url(../img/slotGohan.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 1em;
    border: 0.3em solid rgb(138, 146, 148);
    height: 95%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridPlayer01Slot03{
    background-image: url(../img/slotVegeta.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 1em;
    border: 0.3em solid rgb(138, 146, 148);
    height: 95%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridPlayer01Slot04{
    background-image: url(../img/slotKrillin.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 1em;
    border: 0.3em solid rgb(138, 146, 148);
    height: 95%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emptyRow03{
    background-color: rgb(0, 0, 0);
    height: 90%;
    width: 20%;
    margin: 0;
}

.gridPlayer02{
    background-color: rgb(0, 0, 0);
    height: 90%;
    width: 38%;
    margin: 0% 1%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.gridPlayer02Slot01{
    background-image: url(../img/slotFreezer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 1em;
    border: 0.3em solid rgb(138, 146, 148);
    height: 95%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridPlayer02Slot02{
    background-image: url(../img/slotCell.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 1em;
    border: 0.3em solid rgb(138, 146, 148);
    height: 95%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridPlayer02Slot03{
    background-image: url(../img/slotMajinBuu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 1em;
    border: 0.3em solid rgb(138, 146, 148);
    height: 95%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridPlayer02Slot04{
    background-image: url(../img/slotBroly.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 1em;
    border: 0.3em solid rgb(138, 146, 148);
    height: 95%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Aquí comienza la fila 04*/
.containerRow04{
    background-color: lightcoral;
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statsPlayer01{
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 90%;
    width: 38%;
    margin: 0% 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fightRow04{
    background-color: lightgoldenrodyellow;
    height: 90%;
    width: 20%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statsPlayer02{
    background-color: black;
    height: 90%;
    width: 38%;
    margin: 0% 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------------------------------------------------------------------------------------------
Clases que son llamadas por el evento que se activa con gridPlayer01Slot01
------------------------------------------------------------------------------------------*/
.imgPlayer01Slot01{
    background-image: url(../img/screen02GokuAnimation.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.statsPlayer01Slot01{
    background-image: url(../img/statsPlayer01Slot01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*------------------------------------------------------------------------------------------
Clases que son llamadas por el evento que se activa con gridPlayer01Slot02
------------------------------------------------------------------------------------------*/
.imgPlayer01Slot02{
    background-image: url(../img/screen02GohanAnimation.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.statsPlayer01Slot02{
    background-image: url(../img/statsPlayer01Slot02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*------------------------------------------------------------------------------------------
Clases que son llamadas por el evento que se activa con gridPlayer01Slot03
------------------------------------------------------------------------------------------*/
.imgPlayer01Slot03{
    background-image: url(../img/screen02VegetaAnimation.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.statsPlayer01Slot03{
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*------------------------------------------------------------------------------------------
Clases que son llamadas por el evento que se activa con gridPlayer01Slot04
------------------------------------------------------------------------------------------*/
.imgPlayer01Slot04{
    background-image: url(../img/screen02KrillinAnimation.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.statsPlayer01Slot04{
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*------------------------------------------------------------------------------------------
Clases que son llamadas por el evento que se activa con gridPlayer02Slot01
------------------------------------------------------------------------------------------*/
.imgPlayer02Slot01{
    background-image: url(../img/screen02FreezerAnimation.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.statsPlayer02Slot01{
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*------------------------------------------------------------------------------------------
Clases que son llamadas por el evento que se activa con gridPlayer02Slot02
------------------------------------------------------------------------------------------*/
.imgPlayer02Slot02{
    background-image: url(../img/screen02CellAnimation.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.statsPlayer02Slot02{
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*------------------------------------------------------------------------------------------
Clases que son llamadas por el evento que se activa con gridPlayer02Slot03
------------------------------------------------------------------------------------------*/
.imgPlayer02Slot03{
    background-image: url(../img/screen02MajinBuuAnimation.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.statsPlayer02Slot03{
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*------------------------------------------------------------------------------------------
Clases que son llamadas por el evento que se activa con gridPlayer02Slot04
------------------------------------------------------------------------------------------*/
.imgPlayer02Slot04{
    background-image: url(../img/screen02BrolyAnimation.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.statsPlayer02Slot04{
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/*ESTILOS PANTALLA 03*/
.screen03{
    background-color: rgb(228, 171, 96);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


/*ESTILOS PANTALLA 04*/
.screen04{
    background-color: rgb(60, 141, 165);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}