html, body {
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: black;
    
}

@font-face {
    font-family: "Dragon Ball";
    src: url("../font/Saiyan-Sans.ttf");
}

@font-face {
    font-family: "Digital";
    src: url("../font/DS-DIGI.TTF");
}

.allContent{
    background-color: rgb(161, 132, 95);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;/*modificar para cambiar ancho total de todo*/
    height: 100%;/*modificar para cambiar alto total de todo*/
}


/*ESTILOS PANTALLA 01*/
.screen01{
    background-color: rgb(0, 0, 0);
    background-image: url(../img/backgroundScreen01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button01{
    border-radius: 3em;
    font-family: "Dragon Ball";
    font-size: 2.5em;
    width: 5em;
    height: 5em;
    background-image: url(../img/ballNumber4Center.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    animation: creceEncoge 3s infinite;
}

@keyframes creceEncoge {
    50% {
    font-size: 1em;
    }
}


/*ESTILOS PANTALLA 02*/
.screen02{
    background-color: rgb(165, 62, 37);
    width: 100%;
    height: 100%;
    display: none;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
}

/*Aquí comienza la fila 01*/
.containerRow01{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.namePlayer01{
    background-color: rgb(0, 0, 0);
    height: 90%;
    width: 38%;
    margin: 0% 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dragon Ball";
    font-size: 5vw;
    color: rgb(248, 91, 26);
}

.emptyRow01{
    background-image: url(../img/screen02Versus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90%;
    width: 20%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0em 0em 1em 0.7em;
}

.namePlayer02{
    background-color: rgb(0, 0, 0);
    height: 90%;
    width: 38%;
    margin: 0% 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Dragon Ball";
    font-size: 5vw;
    color: rgb(248, 91, 26);
}

/*Aquí comienza la fila 02*/
.containerRow02{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgPlayer01{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90%; /*545px*/
    width: 38%; /*282px*/
    margin: 0% 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0em 0em 1em 1em;
}

.vsRow02{
    background-image: url(../img/screen02VersusRow02.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 90%;
    width: 20%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgPlayer02{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90%;
    width: 38%;
    margin: 0% 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0em 0em 1em 1em ;
}

/*Aquí comienza la fila 03*/
.containerRow03{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridPlayer01{
    background-color: rgb(0, 0, 0);
    height: 90%;
    width: 38%;
    margin: 0% 1%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.gridPlayer01Slot01{
    background-image: url(../img/slotGoku.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border: 0.3em solid rgb(138, 146, 148);
    border-radius: 1em;
    height: 95%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridPlayer01Slot02{
    background-image: url(../img/slotGohan.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 1em;
    border: 0.3em solid rgb(138, 146, 148);
    height: 95%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridPlayer01Slot03{
    background-image: url(../img/slotVegeta.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 1em;
    border: 0.3em solid rgb(138, 146, 148);
    height: 95%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridPlayer01Slot04{
    background-image: url(../img/slotKrillin.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 1em;
    border: 0.3em solid rgb(138, 146, 148);
    height: 95%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emptyRow03{
    background-color: rgb(0, 0, 0);
    height: 90%;
    width: 20%;
    margin: 0;
}

.gridPlayer02{
    background-color: rgb(0, 0, 0);
    height: 90%;
    width: 38%;
    margin: 0% 1%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.gridPlayer02Slot01{
    background-image: url(../img/slotFreezer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 1em;
    border: 0.3em solid rgb(138, 146, 148);
    height: 95%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridPlayer02Slot02{
    background-image: url(../img/slotCell.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 1em;
    border: 0.3em solid rgb(138, 146, 148);
    height: 95%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridPlayer02Slot03{
    background-image: url(../img/slotMajinBuu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 1em;
    border: 0.3em solid rgb(138, 146, 148);
    height: 95%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridPlayer02Slot04{
    background-image: url(../img/slotBroly.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 1em;
    border: 0.3em solid rgb(138, 146, 148);
    height: 95%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Aquí comienza la fila 04*/
.containerRow04{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statsPlayer01{
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 90%;
    width: 38%;
    margin: 0% 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fightRow04{
    background-image: url(../img/fight.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2em;
    border: 0.5em solid rgb(255, 232, 0);
    height: 90%;
    width: 20%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.statsPlayer02{
    background-color: black;
    height: 90%;
    width: 38%;
    margin: 0% 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}










/*------------------------------------------------------------------------------------------
Clases que son llamadas por el evento que se activa con gridPlayer01Slot01
------------------------------------------------------------------------------------------*/
.imgPlayer01Slot01{
    background-image: url(../img/screen02GokuAnimation.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.statsPlayer01Slot01{
    background-color: rgb(0, 0, 0);
    font-family: "Dragon Ball";
    font-size: 3vw;
    color: white;
}

/*------------------------------------------------------------------------------------------
Clases que son llamadas por el evento que se activa con gridPlayer01Slot02
------------------------------------------------------------------------------------------*/
.imgPlayer01Slot02{
    background-image: url(../img/screen02GohanAnimation.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.statsPlayer01Slot02{
    background-color: black;
    font-family: "Dragon Ball";
    font-size: 3vw;
    color: white;
}

/*------------------------------------------------------------------------------------------
Clases que son llamadas por el evento que se activa con gridPlayer01Slot03
------------------------------------------------------------------------------------------*/
.imgPlayer01Slot03{
    background-image: url(../img/screen02VegetaAnimation.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.statsPlayer01Slot03{
    background-color: black;
    font-family: "Dragon Ball";
    font-size: 3vw;
    color: white;
}

/*------------------------------------------------------------------------------------------
Clases que son llamadas por el evento que se activa con gridPlayer01Slot04
------------------------------------------------------------------------------------------*/
.imgPlayer01Slot04{
    background-image: url(../img/screen02KrillinAnimation.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.statsPlayer01Slot04{
    background-color: black;
    font-family: "Dragon Ball";
    font-size: 3vw;
    color: white;
}

/*------------------------------------------------------------------------------------------
Clases que son llamadas por el evento que se activa con gridPlayer02Slot01
------------------------------------------------------------------------------------------*/
.imgPlayer02Slot01{
    background-image: url(../img/screen02FreezerAnimation.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.statsPlayer02Slot01{
    background-color: black;
    font-family: "Dragon Ball";
    font-size: 3vw;
    color: white;
}

/*------------------------------------------------------------------------------------------
Clases que son llamadas por el evento que se activa con gridPlayer02Slot02
------------------------------------------------------------------------------------------*/
.imgPlayer02Slot02{
    background-image: url(../img/screen02CellAnimation.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.statsPlayer02Slot02{
    background-color: black;
    font-family: "Dragon Ball";
    font-size: 3vw;
    color: white;
}

/*------------------------------------------------------------------------------------------
Clases que son llamadas por el evento que se activa con gridPlayer02Slot03
------------------------------------------------------------------------------------------*/
.imgPlayer02Slot03{
    background-image: url(../img/screen02MajinBuuAnimation.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.statsPlayer02Slot03{
    background-color: black;
    font-family: "Dragon Ball";
    font-size: 3vw;
    color: white;
}

/*------------------------------------------------------------------------------------------
Clases que son llamadas por el evento que se activa con gridPlayer02Slot04
------------------------------------------------------------------------------------------*/
.imgPlayer02Slot04{
    background-image: url(../img/screen02BrolyAnimation.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.statsPlayer02Slot04{
    background-color: black;
    font-family: "Dragon Ball";
    font-size: 3vw;
    color: white;
}





/*ESTILOS PANTALLA 03*/
.screen03{
    background-color: rgb(228, 171, 96);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.screen03Row01{
    background-color: aqua;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.screen03ContainerLifePlayer01{
    background-color: black;
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 2em 0 0 2em;
    margin-left: 1em;
}

.screen03LifePlayer01{
    background-color: rgb(236, 16, 9);
    width: 100%;
    height: 100%;
    border-radius: 2em 0em 0em 2em;
    font-family: "Dragon Ball";
    font-size: 2.5vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.5em;
    color: white;
    transition: 2s;
}

.screen03Timer{
    background-color: azure;
    width: 10%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Digital";
    font-size: 5vw;
    font-weight: bold;
    color: rgb(248, 91, 26);
}

.screen03ContainerLifePlayer02{
    background-color: black;
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0em 2em 2em 0em;
    margin-right: 1em;
}

.screen03LifePlayer02{
    background-color: rgb(236, 16, 9);
    width: 100%;
    height: 100%;
    border-radius: 0em 2em 2em 0em;
    font-family: "Dragon Ball";
    font-size: 2.5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.5em;
    color: white;
    transition: 2s;
}

.screen03Row02{
    background-color: azure;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen03Row03{
    background-color: chartreuse;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen03ButtonsPlayer01{
    background-color: antiquewhite;
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attackPlayer01{
    border-radius: 50%;
    width: 5em;
    height: 5em;
    background-image: url(../img/buttonAttackOn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.journal{
    background-color: lightcoral;
    width: 20%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen03ButtonsPlayer02{
    background-color: lightgrey;
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attackPlayer02{
    border-radius: 50%;
    width: 5em;
    height: 5em;
    background-image: url(../img/buttonAttackOn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}




/*ESTILOS PANTALLA 04*/
.screen04{
    background-color: rgb(60, 141, 165);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}